body {
  background-color: #F9F9F9;
  margin-right: 10px;
  margin-left: 10px;
}
table {
  width: 75%;
}
td{
  padding: 8%;
}
ul {
  display: inline;
  list-style: none;
}
h1{
  font-family: 'Roboto', sans-serif;
}
h2{
  font-family: 'Roboto', sans-serif;
  font-size: 250%;
  margin-bottom: 15px;
}
h3{
  font-family: 'Roboto', sans-serif;
  font-size: 150%;
  margin-bottom: 5px;
}
hr{
  width:75%;
  border-style: solid none none;
  border-width: 1px;

}
p{
  font-family: 'Lato', sans-serif;
  color: black;
  margin-top: 5px;
  color: #562B08;
  font-size: 120%;
}
/* a{
  margin: 5px;

} */
.topnav a{
  padding: 15px;
}
.topnav a:hover {
  background-color: #040303;
  color: white;
}
.about {

  height: 350px;
  padding-left:15%;
  padding: 3%;
}

.about-table {
  margin: auto;
}

.experience{
  padding-top: 2%;
  padding-bottom: 2%;
  padding-left:15%;
  padding-right: 10%;
}
.projects{
  padding-top: 2%;
  padding-bottom: 2%;
  padding-left: 15%;
  padding-right: 10%;
}

.topnav{
  text-align: center;
  height: 35px;
  padding-top: 14px;
  font-family:'Lato', sans-serif;
}
